*__pycache__/                  
.vscode/settings.json          
*.pyc                         
Messing Around/                
Validation Data/               
Druckrohrleitung/Gif Plots     
Simulation Hammer/             
Simulation Arriach/            
log.txt                       

